<h1>{{title}}</h1>
<p>	Bienvenido a la aplicaci&oacute;n {{title}}</p>
<div class="container">
	<div class="row">
		<div class="col col-5"><div class="alert alert-success">Llena los campos para registrar un juguete nuevo.</div></div>

	</div>
</div>
<hr>
<form form action="/alta" method="POST">
	<div class="row">
		<div class="col">
			  <label for="fname">Nombre:</label><br>
			<input type="text" id="fname" class="form-control" name="nombre" >
		</div>
		<div class="col">
			<label for="mat">Material:</label><br>
			<input type="text" id="mat" class="form-control" name="material" >
		</div>
		<div class="col">
			<label for="tam">Tama単o:</label><br>
			<input type="text" id="tam" class="form-control" name="tamanio" >
		</div>
		<div class="col">
			<label for="modl">Modelo:</label><br>
			<input type="text" id="modl" class="form-control" name="modelo">
		</div>
		<div class="col">
			<label for="pila">Pilas:</label><br>
			<input type="text" id="pila" class="form-control" name="pilas" >
		</div>
		<div class="col">
			<label for="comp">Compa単ia:</label><br>
			<input type="text" id="comp" class="form-control" name="compania">
		</div>
		<div class="col">
			<label for="foto">URL Foto:</label><br>
			<input type="text" id="foto" class="form-control" name="foto" ><br><br>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label for="desc">Descripcion:</label><br>
			<input type="text" id="desc" class="form-control" name="descripcion" ><br><br>
		</div>
	</div>
  	<button type="submit" class="btn btn-primary">Enviar</button>
</form>
<hr>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="_id">ID</label>
            <input type="text" id="_id" name="_id">
        </div>

				<div class="input">
						<label for="nombre">Nombre</label>
						<input type="text" id="nombre" name="nombre">
				</div>

				<div class="input">
						<label for="material">Material</label>
						<input type="text" id="material" name="material">
				</div>

				<div class="input">
						<label for="tamanio">Tama単o</label>
						<input type="text" id="tamanio" name="tamanio">
				</div>

				<div class="input">
						<label for="modelo">Modelo</label>
						<input type="text" id="modelo" name="modelo">
				</div>

				<div class="input">
						<label for="pilas">Pilas</label>
						<input type="text" id="pilas" name="pilas">
				</div>

				<div class="input">
						<label for="compania">Compa単ia</label>
						<input type="text" id="compania" name="compania">
				</div>

				<div class="input">
						<label for="foto">Foto</label>
						<input type="text" id="foto" name="foto">
				</div>

				<div class="input">
						<label for="descripcion">Descripcion</label>
						<input type="text" id="descripcion" name="descripcion">
				</div>

        <button type="submit">UPDATE</button>
    </form>
</section>
